*.sw?
*.suo
bin
obj
*.csproj.user
*.resharper.user
*.resharper
*.suo
*.cache
TestResult.xml
examples/**/*.dll
examples/**/*.exe
examples/**/*.cgi
examples/**/*/*.dll
examples/**/*/*.exe
examples/**/*/*.cgi
output
README.html
_ReSharper.*/
